<div class="container-fluid headercontent">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <a href="#"><span>Página Inicial</span></a>
      <span class="separator">></span>
      <a href="#"><span>Painel de Gestão</span></a>
    </div>
  </div>
  <div class="row pddt30">
    <div class="col-sm-1 col-md-1 col-lg-1 setcenter">
      <i class="fas fa-globe fa-3x"></i>
    </div>
    <div class="col-sm-5 col-md-5 col-lg-5">
      <h2>Painel de Gestão</h2>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3 setright">
      <label class="pddr-pddt-15"> Produto:</label>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">
      <button class="btn btn-secondary btn-lg dropstyle setright" type="button" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <label>Todos</label>
        <i class="fa fa-angle-double-down arrow" aria-hidden="true"></i>
      </button>
      <div class="dropdown-menu col-11" aria-labelledby="dropdownMenuOffset">
        <a class="dropdown-item col-11" href="#">Action</a>
        <a class="dropdown-item col-11" href="#">Another action</a>
        <a class="dropdown-item col-11" href="#">Something else here</a>
      </div>
    </div>
  </div>
</div>