<div class="container-fluid topcontent">
    <div class="row">
        <div class="col-sm-2 col-md-2 col-lg-2">
            <img src="../../assets/images/logo.png">
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 setright pddt4">
            <label class="pddr15"> Grupo Econômico:</label>

            <button class="btn btn-secondary btn-lg dropstyle" type="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <label>Visão Agregada 1 </label>
                <i class="fa fa-angle-double-down" aria-hidden="true"></i>
            </button>
            <div class="dropdown-menu col-6" aria-labelledby="dropdownMenuOffset">
                <a class="dropdown-item col-6" href="#">Action</a>
                <a class="dropdown-item col-6" href="#">Another action</a>
                <a class="dropdown-item col-6" href="#">Something else here</a>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 setright pddt4">
            <button class="btn btn-secondary btn-lg dropstyle2 col-10" type="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="far fa-user white"></i>
                <label class="pddl-pddr-15">Sandra Oliveira</label>
                <i class="fa fa-angle-double-down" aria-hidden="true"></i>
            </button>
            <div class="dropdown-menu col-10" aria-labelledby="dropdownMenuOffset">
                <a class="dropdown-item col-10" href="#">Action</a>
                <a class="dropdown-item col-10" href="#">Another action</a>
                <a class="dropdown-item col-10" href="#">Something else here</a>
            </div>
            <button class="btn btn-secondary btn-lg dropstyle3 col-2" type="button">
                <a class="far fa-bell">
                    <span class="fa fa-comment"></span>
                    <span class="num">3</span>
                </a>
            </button>
        </div>
    </div>
</div>