<div class="container-fluid nmlr">
    <div class="row p10t p10b border">
        <div class="col-sm-10 col-md-10 col-lg-10 npr">
            <input class="form-control" type="search" placeholder="Pesquise Aqui" aria-label="Search">
        </div>
        <div class="col-sm-1 col-md-1 col-lg-1 npl">
            <button class="search p10tmt29" type="submit">
                <i class="fa fa-search search-icon-collor"></i>
            </button>
        </div>
    </div>
    <div class="row menu-style">
        <div class="col-12 no-padding">
            <div class="btn-group-vertical col-12 no-padding">
                <button type="button" class="col-12 menu row" autofocus>
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        <i class="{{menua[0].icone}}"></i>
                    </div>
                    <div class="col-sm-9 col-md-9 col-lg-9 optionmenu">
                        <label>{{menua[0].descricao}}</label>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        <i class="fas fa-caret-left arrow"></i>
                    </div>
                </button>
                <button type="button" class="col-12 menu row">
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        <i class="{{menua[1].icone}}"></i>
                    </div>
                    <div class="col-sm-9 col-md-9 col-lg-9 optionmenu">
                        <label>{{menua[1].descricao}}</label>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        <i class="fas fa-caret-left arrow"></i>
                    </div>
                </button>
                <button type="button" class="col-12 menu row">
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        <i class="{{menub[0].icone}}"></i>
                    </div>
                    <div class="col-sm-9 col-md-9 col-lg-9 optionmenu">
                        <label>{{menub[0].descricao}}</label>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        <i class="fa fa-angle-double-right secondary-collor fa-2x" aria-hidden="true"></i>
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>